 /* || RESET || */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* || VARIABLES || */

 :root {
    /* FONT */
    --FF: "Black Ops One";
    --FS: 1.5rem;
    --FS-XL: 3rem;
    /* COLOR */
    --BGCOLOR: #475569; 
    --ALT-BGCOLOR: #1E293B;
    --RADIAL-COLOR: whitesmoke; 
    --LIGHT-COLOR: whitesmoke;
    --DARK-COLOR: #000;

    /* GENERAL */
    --PADDING: 0.5 em;
    --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);

    @media (prefers-color-scheme: dark) {
        :root {
            --BGCOLOR: #000;
            --ALT-BGCOLOR: #333;
            --RADIAL-COLOR: rgb(219, 218, 218); 
            --SQUARE-BGCOLOR: rgb(205, 174, 205);
        }
    }

    /* SQUARE */
    --SQUARE-BGCOLOR: papayawhip;
    --SQUARE-SIZE: max(150px, 20vw);
 }

   /* || GENERAL STYLES || */
body {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;

    background-color: var(--BGCOLOR);
    background-image: radial-gradient(var(--RADIAL-COLOR),var(--BGCOLOR));
    display: flex;
    flex-direction: column; 
  }

  header, nav, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
  }

  header, footer {
    position: sticky;
    background-color: var(--ALT-BGCOLOR);
    color: var(--LIGHT-COLOR);
  }

  header {
    top: 0;
  }

  nav {
    background-color: var(--LIGHT-COLOR);
    color: var(--DARK-COLOR);
    border-bottom: 2px solid var(--DARK-COLOR);
    box-shadow: 0 6px 5px -5px var(--DARK-COLOR);
  }

  main {
    /* flex-grow: 1;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: main(4vw, 15px); */
    flex-grow: 1;
    padding: var(--PADDING);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  main section {
    flex-grow: 1;
    padding: var(--PADDING);
  }

  main aside {
    background-color: hsla(0, 0%, 20%, 0.8);
    color: var(--LIGHT-COLOR);
    font-size: var(--FS);
    font-style: italic;
    padding: var(--PADDING);
  }

.content {
    margin-top: 20px;
}

.tooltip {
    border-bottom: 1px dashed orange;
    position: relative;
}

.tooltip:hover::before{
    content: attr(data-tooltip);
    position: absolute;
    top: -20px;
    white-space: nowrap;
    background-color: var(--DARK-COLOR);
    padding: var(--PADDING);
    border-radius: 15px;
}
a:any-link {
    color: firebrick;
}

a:hover, a:focus {
     filter: brightness(150%)
    /* filter: hue-rotate(180deg);  */
}

  footer {
    bottom: 0;
  }

  /* || FEATURES || */

  .square--highlight {
    --SQUARE-BGCOLOR: cornflowerblue;
  }

.square {
    background-color: var(--SQUARE-BGCOLOR);
    width: var(--SQUARE-SIZE);
    height: var(--SQUARE-SIZE);
    border: 2px solid var(--DARK-COLOR);
    border-radius: 15px;
    display: grid;
    place-content: center;
    margin-bottom: 20px;
    font-size: var(--FS-XL);
    box-shadow: 0 6px 5px -5px var(--DARK-COLOR);
}

@media screen and (min-width: 576px) {
    main {
        flex-flow: nowrap;
        justify-content: space between;
    }

    main section {
        width: calc(70% - 5px);
    }

    main aside {
        width: calc(30% - 5px)
    }
}

  /* || SMALL || */
 /*  @media screen and (min-width: 576px) {
    body {
        background-color: green;
        background-image: radial-gradient(whitesmoke, green);
    }
    nav {
        display: none;
    }
  } */

   /* || MEDIUM || */
  /* @media screen and (min-width: 768px) {
    body {
        background-color: gold;
        background-image: radial-gradient(whitesmoke, gold);
    }
  } */
   /* || LARGE || */
 /*  @media screen and (min-width: 992px) {
    body {
        background-color:firebrick;
        background-image: radial-gradient(whitesmoke, firebrick);
    }
  } */
   /* || XL || */
 /*  @media screen and (min-width: 1200px) {
    body {
        background-color:rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
    }
  } */
   /* || MOBILE DEVICE LANDSCAPE || */
  /* @media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color:dodgerblue;
        background-image: radial-gradient(whitesmoke, dodgerblue);
    }
    h1, h2 {
        font-size: 1.5rem;
    }
    nav {
        display: none;
    }
  }  */
   